@model IEnumerable<OpinionsAnalytics.Domain.Entities.Api.Comentarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
